html,
body {
  height: 100vh;
}
body {
  background: radial-gradient(
    ellipse at center,
    #fffeea 0%,
    #fffeea 35%,
    #b7e8eb 100%
  );
  overflow: hidden;
}
.ocean {
  height: 5%;
  position: absolute;
  bottom: -24px;
  left: 0;
  background: #015871;
  width: 100vw;
}
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  transform: translate3d(0, 0, 0);
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}
.wave:nth-of-type(2) {
  top: -175px;
  opacity: 1;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
